p.iccon{
  margin: 0px 15px;
  font-size: 30px;
}
.col-md-6.mb-md-0.mb-3 {
  text-align: right;
}
p.list-p {
  margin-top: 15px;
  line-height: 25px;
}
.fa-caret-right:before {
  content: "\f0da";
  color: #E13427;
  margin-right: 10px;
}
h5{
  color: #E13427;
  text-align: center;
}

a {
  color: #055699;
  text-decoration: none;
  background-color: transparent;
}
.whyus_header h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e73e3f;
}
.whyus .whyus_body {
  font-size: 14px;
  color: #4e4e4e;
}
a.btn {
  padding: 10px;
  display: block;
  font-weight: 700;
  background-color: #e74c3c;
  border-color: #e13427;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  color: white;
}
.whyus_block {
  margin: 30px 0px;
  background: #f8f8f8;
  padding: 40px;
}
.whyus_body p {
  font-size: 14px;
  color: #4e4e4e;
}
.list-unstyled {
  text-align: center;
}
.text{
  font-size: 12px;
  color: black;
}
.number{
  font-size: 20px;
  font-weight: bold;
}
.whyus_header {
  margin-top: 20px;
}
